<div class="signup-container">
   <%= image_tag "logo-icon.png", class: "login-container__logo" %>
   <h2 class="signup-container__signup-text">Sign up</h2>
   <div class="progress-bar-container">
      <div class="box progress-bar" data-module="progressbar">
         <ol>
            <li class="current qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Family Member info</span>
                  </span>
               </span>
            </li>
            <li class="qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient Info</span>
                  </span>
               </span>
            </li>
            <li class="qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Needed</span>
                  </span>
               </span>
            </li>
            <li class="qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient qualities</span>
                  </span>
               </span>
            </li>
            <li class="last qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient conditions</span>
                  </span>
               </span>
            </li>
         </ol>
      </div>
   </div>
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="signup-input-container">
         <%= devise_error_messages! %>
         <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "E-mail", autocomplete: "email", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <!--<% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>-->
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password_confirmation", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First name", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :middlename, autofocus: true, autocomplete: "middlename", placeholder: "Middle name (optional)", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", placeholder:"Last name", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.telephone_field :phone, maxlength: 10, autocomplete: "phone", placeholder: "Phone", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder: "City", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.select :state, options_for_select(us_states), {:prompt => "State"}, {:class => "signup-input-container--input"} %>
         </div>
         <div class="field">
            <%= f.text_field :street, autofocus: true, autocomplete: "street", placeholder: "Street", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :zip, maxlength: 5, autofocus: true, autocomplete: "zip", placeholder: "Zip Code", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :emergency_name, autofocus: true, autocomplete: "emergency_name", placeholder: "Emergency contact name", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.telephone_field :emergency_contact, maxlength: 10, autofocus: true, autocomplete: "emergency_contact", placeholder: "Emergency contact number", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.select :recipient_relation, options_for_select(family_relationships), {:prompt => "Relation to Recipient"}, {:class => "signup-input-container--input"} %>
         </div>
         <%= recaptcha_tags %>
         <%= render "families/shared/links" %>
         <div class="actions">
            <%= f.submit "Next Step", class: "signup-input-container--submit" %>
         </div>
         <p style="color: #133A6B">By signing in, you agree to our Terms of Service and Privacy Policy.</p>
      </div>
   <% end %>
</div>