<h1>Step 2</h1>
<h1>Skills</h1>
<%= form_for @team, url: wizard_path, html: {class: "nifty_form"} do |f| %>
   <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
   </div>

   <div class="field">
      <%= f.label :middlename,'Middlename (optional)' %><br />
      <%= f.text_field :middlename, autofocus: true, autocomplete: "middlename" %>
   </div>

   <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
   </div>

   <div class="actions">
      <%= f.submit "Next Step" %>
   </div>
   <%= link_to 'Skip this Step', next_wizard_path %>
<% end %>
