<!--<%= form_for :recipient, url: "family_steps/createRecipient",  html: {class: "nifty_form"} do |f| %>
   <%= f.label :firstname %>
   <%= f.text_field :firstname, required: true %><br>
   <%= f.label :lastname %>
   <%= f.text_field :lastname, required: true %><br>
   <%= f.label :gender %>
   <%= f.text_field :gender, required: true %><br>
   <%= f.label :age %>
   <%= f.text_field :age, required: true %><br>
   <%= f.submit%>
<% end %>-->
<h2>Step 3</h2>
<%= link_to 'finish', family_root_url %>
