<h2>Step 4</h2>
<h2>Family information continued</h2>
<%= form_for :recipient, url: 'recipient_information_third',  html: {class: "nifty_form"} do |f| %>
   <h3>Mobility</h3>
   <%= label_tag :Cane do %>
      <%= check_box_tag "mobility[]", "Cane" %>
      Cane
   <% end %>
   <%= label_tag :Walker do %>
      <%= check_box_tag "mobility[]", "Walker" %>
      Walker
   <% end %>
   <%= label_tag :WheelChair do %>
      <%= check_box_tag "mobility[]", "Wheel Chair" %>
      Wheel Chair
   <% end %>
   <%= label_tag :Hoyer do %>
      <%= check_box_tag "mobility[]", "Hoyer Lift" %>
      Hoyer Lift
   <% end %>
   <%= label_tag :Scooter do %>
      <%= check_box_tag "mobility[]", "Scooter" %>
      Scooter
   <% end %>
   <%= label_tag :HospitalBed do %>
      <%= check_box_tag "mobility[]", "Hospital Bed" %>
      Hospital Bed
   <% end %>
   <h3>Most desired Quality</h3>
   <%= f.radio_button :quality, 'Empathy' %>
   <%= f.label :quality, 'Empathy', value: 'launch product' %>
   <%= f.radio_button :quality, "Trust" %>
   <%= f.label :quality, "Trust", value: "Trust" %>
   <%= f.radio_button :quality, "Credentials and Skills" %>
   <%= f.label :quality, "Credentials and Skills", value: "Credentials and Skills" %>
   <%= f.radio_button :quality, "Speaks care recipients Language" %>
   <%= f.label :quality, "Speaks care recipients Language", value: "Speaks care recipients Language" %>
   <%= f.radio_button :quality, "Punctuality & Reliability" %>
   <%= f.label :quality, "Punctuality & Reliability", value: "Punctuality & Reliability" %>
   <%= f.radio_button :quality, "Persistence" %>
   <%= f.label :quality, "Persistence", value: "Persistence" %>
   <%= f.radio_button :quality, "Other" %>
   <%= f.label :quality, "Other", value: "Other" %>
   <p>Was the care recipient recently discharged from a hospital?</p>
   <%= f.select(:recently_discharged, options_for_select([['Yes', true], ['No', false]], :prompt => "Select")) %><br>
   <p>Is the Care recipient on hospice?</p>
   <%= f.select(:hospice, options_for_select([['Yes', true], ['No', false]], :prompt => "Select")) %><br>
   <%= f.submit%>
<% end %>
