<div class="signup-container">
   <%= image_tag "logo-icon.png", class: "login-container__logo" %>
   <h2 class="signup-container__signup-text">Sign up</h2>
   <div class="progress-bar-container">
      <div class="box progress-bar" data-module="progressbar">
         <ol>
            <li class="current qa-progressbar-item">
               <span style="background: #104A75; !important" class="cell">
                  <span class="item">
                     <span>Family Member Info</span>
                  </span>
               </span>
            </li>
            <li class="current qa-progressbar-item">
               <span style="background: #104A75; !important" class="cell">
                  <span class="item">
                     <span>Care Recipient Info</span>
                  </span>
               </span>
            </li>
            <li class="current qa-progressbar-item">
               <span style="background: #104A75; !important" class="cell">
                  <span class="item">
                     <span>Care Needed</span>
                  </span>
               </span>
            </li>
            <li class="current qa-progressbar-item">
               <span style="background: #104A75; !important" class="cell">
                  <span class="item">
                     <span>Care Recipient Qualities</span>
                  </span>
               </span>
            </li>
            <li class="current qa-progressbar-item last">
               <span style="background: #104A75; !important" class="cell">
                  <span class="item">
                     <span>Care Recipient Conditions</span>
                  </span>
               </span>
            </li>
         </ol>
      </div>
   </div>
   <%= form_for :recipient, url: 'recipient_information_fourth' do |f| %>
      <div class="recipient-condition-cont">
         <h3 class="conditions-container__companion--text">Does the care recipient have or have had any medical conditions? Please check ALL that apply.</h3>
         <div class="conditions-container">
            <div class="conditions-container__companion">
               <h3 class="conditions-container__companion--text">Common Conditions</h3>
               <%= label_tag :Memory, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Memory Impairment / Dementia", false, class: "conditions-container__companion--checkbox" %>
                  Memory Impairment / Dementia
               <% end %>
               <%= label_tag :HeartFailure, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Congestive Heart Failure", false, class: "conditions-container__companion--checkbox" %>
                  Congestive Heart Failure
               <% end %>
               <%= label_tag :Diabetes, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Diabetes", false, class: "conditions-container__companion--checkbox" %>
                  Diabetes
               <% end %>
               <%= label_tag :EndStage, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "End Stage Renal Disease", false, class: "conditions-container__companion--checkbox" %>
                  End Stage Renal Disease
               <% end %>
               <%= label_tag :Thrive, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Failure to Thrive", false, class: "conditions-container__companion--checkbox" %>
                  Failure to Thrive
               <% end %>
               <%= label_tag :Risk, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Fall Risk", false, class: "conditions-container__companion--checkbox" %>
                  Fall Risk
               <% end %>
            </div>
            <div class="conditions-container__companion">
               <h3 class="conditions-container__companion--text">Other Conditions</h3>
               <%= label_tag :Cancer, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Cancer", false, class: "conditions-container__companion--checkbox" %>
                  Cancer
               <% end %>
               <%= label_tag :Chronic, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Chronic Obstructive Pulmonary Disease", false, class: "conditions-container__companion--checkbox" %>
                  Chronic Obstructive Pulmonary Disease
               <% end %>
               <%= label_tag :Stroke, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Stroke", false, class: "conditions-container__companion--checkbox" %>
                  Stroke
               <% end %>
               <%= label_tag :Musculoskeletal, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Musculoskeletal Disorders", false, class: "conditions-container__companion--checkbox" %>
                  Musculoskeletal Disorders
               <% end %>
               <%= label_tag :Psychiatric, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Psychiatric Disorders", false, class: "conditions-container__companion--checkbox" %>
                  Psychiatric Disorders
               <% end %>
               <label class="conditions-container__companion--label" for="Other">
                  <input type="checkbox" id="condition-other-fam" class="conditions-container__companion--checkbox" />
                  Other
               </label>
               <input type="textbox" name="conditions[]", placeholder="Condition" id="condition-other-input-fam", class="signup-input-container--input" style="display: none;"/>
            </div>
         </div>
      </div>
      <div class="field center">
         <h3 class="conditions-container__companion--text">On average how many hours of service does the care recipient need per week?</h3>
         <%= f.text_field :hours_weekly, maxlength: 2,  required: true,  placeholder: "Hours Weekly", class: "signup-input-container--input" %>
      </div>
      <div class="field center">
         <h3 class="conditions-container__companion--text">How many months of services do you expect in the coming 12 months?</h3>
         <%= f.select :months, options_for_select(twelve_months), {:include_blank => "Select", :selected => "Select"}, {:class => "signup-input-container-cg--input-cg", :required => true } %>
      </div>
      <%= f.submit "Finish", class: "signup-input-container--submit care-button", style: "max-width: 500px !important;"%>
   <% end %>
</div>
