<h2>Step 3</h2>
<h2>Family information continued</h2>
<%= form_for :recipient, url: 'recipient_information_second',  html: {class: "nifty_form"} do |f| %>
      <%= f.label :age %>
      <%= f.text_field :age, required: true %><br>
   <%= f.submit%>
<% end %>
<%= link_to 'finish', family_root_url %>
