<div class="signup-container">
   <%= image_tag "logo-icon.png", class: "login-container__logo" %>
   <h2 class="signup-container__signup-text">Sign up</h2>
   <div class="progress-bar-container">
      <div class="box progress-bar" data-module="progressbar">
         <ol>
            <li class="current qa-progressbar-item">
               <span style="background: #104A75; !important"  class="cell">
                  <span class="item">
                     <span>Family Member Info</span>
                  </span>
               </span>
            </li>
            <li class="current qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient Info</span>
                  </span>
               </span>
            </li>
            <li class="qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Needed</span>
                  </span>
               </span>
            </li>
            <li class="qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient Qualities</span>
                  </span>
               </span>
            </li>
            <li class="last qa-progressbar-item">
               <span class="cell">
                  <span class="item">
                     <span>Care Recipient Conditions</span>
                  </span>
               </span>
            </li>
         </ol>
      </div>
   </div>
   <%= form_for :recipient, url: "recipient_information", :html => {:autocomplete => "off"} do |f| %>
      <div class="signup-input-container">
         <h2 class="signup-input-container__text">Step 2. Care Recipient Info</h2>
         <div class="field">
            <%= f.text_field :firstname, required: true, placeholder: "Recipient First Name", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.text_field :lastname, required: true, placeholder: "Recipient Last Name", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.select :gender, options_for_select([["Male", "Male"],["Female","Female"]]), {:include_blank => "Gender", :selected => "Gender"}, {:class => "signup-input-container--input", :required => true } %>
         </div>
         <div class="field">
            <%= f.text_field :age, maxlength: 3, required: true, placeholder: "Age", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.select :primary_language, options_for_select(languages), {:prompt => "Primary Language"}, {:class => "signup-input-container--input", :required => true} %>
         </div>
         <div class="field">
            <%= f.telephone_field :phone, maxlength: 10, required: true, placeholder: "Phone Number", class: "signup-input-container--input number-field" %>
         </div>
         <div class="field">
            <%= f.text_field :address , required: true, placeholder: "Address", class: "signup-input-container--input" %>
         </div>
         <div class="field">
            <%= f.select :state, options_for_select(CS.states(:us).map { |code, name| [name, code] }),{:include_blank => "State", :selected => "State"}, {:class => "signup-input-container-cg--input-cg", :id => "state-picker-cg", :required => true, :autocomplete => "false"} %>
         </div>
         <div class="field">
            <%= f.select :city, options_for_select([["City","City"]]),{:include_blank => "City", :selected => "City"}, {:class => "signup-input-container-cg--input-cg", :id => "city-picker-cg", :required => true, :autocomplete => "false" } %> 
         </div>
         <div class="actions">
            <%= f.submit "Next Step", class: "signup-input-container--submit" %> 
         </div> 
      </div> 
   <% end %>
</div>


