<h2>Step 2</h2>
<h2>Recipient information</h2>
<%= form_for :recipient, url: "recipient_information",  html: {class: "nifty_form"} do |f| %>
   <%= f.label :firstname %>
   <%= f.text_field :firstname, required: true %><br>
   <%= f.label :middlename %>
   <%= f.text_field :middlename %><br>
   <%= f.label :lastname %>
   <%= f.text_field :lastname, required: true %><br>
   <%= f.label :gender %>
   <%= f.text_field :gender, required: true %><br>
   <%= f.label :age %>
   <%= f.text_field :age, required: true %><br>
   <%= f.label :primary_language %>
   <%= f.text_field :primary_language , required: true %><br>
   <%= f.label :phone %>
   <%= f.text_field :phone , required: true %><br>
   <%= f.label :address %>
   <%= f.text_field :address , required: true %><br>
   <%= f.label :city %>
   <%= f.text_field :city , required: true %><br>
   <%= f.label :state %>
   <%= f.text_field :state , required: true %><br>
   <%= f.submit%>   
<% end %>


