<h2>Step 4</h2>
<h2>Family information continued</h2>
<%= form_for :recipient, url: 'recipient_information_third',  html: {class: "nifty_form"} do |f| %>
   <h3>Mobility</h3>
   <%= check_box_tag  "mobility[]", 'Cane' %><%= label_tag :Cane %><br>
   <%= check_box_tag  "mobility[]", 'Walker' %><%= label_tag :Walker %><br>
   <%= check_box_tag  "mobility[]", 'Wheel Chair' %><%= label_tag :WheelChair, 'Wheel Chair' %><br>
   <%= check_box_tag  "mobility[]", 'Hoyer Lift' %><%= label_tag :Hoyer, 'Hoyer Lift' %><br>
   <%= check_box_tag  "mobility[]", 'Scooter' %><%= label_tag :Scooter %><br>
   <%= check_box_tag  "mobility[]", 'Hospital Bed' %><%= label_tag :HospitalBed, 'Hospital Bed'%><br>
   <h3>Most desired Quality</h3>
   <%= f.radio_button :quality, 'Empathy' %>
   <%= f.label :quality, 'Empathy', value: 'launch product' %>
   <%= f.radio_button :quality, "Trust" %>
   <%= f.label :quality, "Trust", value: "Trust" %>
   <%= f.radio_button :quality, "Credentials and Skills" %>
   <%= f.label :quality, "Credentials and Skills", value: "Credentials and Skills" %>
   <%= f.radio_button :quality, "Speaks care recipients Language" %>
   <%= f.label :quality, "Speaks care recipients Language", value: "Speaks care recipients Language" %>
   <%= f.radio_button :quality, "Punctuality & Reliability" %>
   <%= f.label :quality, "Punctuality & Reliability", value: "Punctuality & Reliability" %>
   <%= f.radio_button :quality, "Persistence" %>
   <%= f.label :quality, "Persistence", value: "Persistence" %>
   <%= f.radio_button :quality, "Other" %>
   <%= f.label :quality, "Other", value: "Other" %>
   <p>Was the care recipient recently discharged from a hospital?</p>
   <%= f.select(:recently_discharged, options_for_select([['Yes', true], ['No', false]], :prompt => "Select")) %><br>
   <p>Is the Care recipient on hospice?</p>
   <%= f.select(:hospice, options_for_select([['Yes', true], ['No', false]], :prompt => "Select")) %><br>
   <%= f.submit%>
   <%= link_to 'Skip this Step', next_wizard_path %>
<% end %>
