<p>Dear <%= @resource.firstname.titleize %> <%= @resource.lastname.titleize %>:</p>

<p>You have requested to change your password on TeamCarer. Please continue by clicking the following link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not request this, please ignore this email. Your password will not change until you access the link above and create a new one</p>

<p>If you experience technical difficulties in the password reset process, please contact our team via the message box <%= link_to 'Link Here', root_url() %>. We will respond to your questions as soon as we can.</p>

<p>Best Regards, </p>

<p>TeamCarer Support</p>

<p>Contact us <%= link_to 'Link Here', root_url() %></p>
