<div class="signup-container-cg">
   <h2 class="signup-container__signup-text">Edit Skills</h2>
   <%= form_for :team, url: 'edit_skills_update',  html: {class: "nifty_form"} do |f| %>
      <div class="conditions-cg">
         <div class="conditions-container">
            <div class="conditions-container__companion">
               <h3 class="conditions-container__companion--text">Companion Care</h3>
               <%= label_tag :HouseCleaning, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "House cleaning", false, class: "conditions-container__companion--checkbox" %>
                  House Cleaning
               <% end %>
               <%= label_tag :Laundry, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Laundry", false, class: "conditions-container__companion--checkbox" %>
                  Laundry
               <% end %>
               <%= label_tag :mealprep, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Meal preperation", false, class: "conditions-container__companion--checkbox" %>
                  Meal preperation
               <% end %>
               <%= label_tag :transportation, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Driving / Transportation", false, class: "conditions-container__companion--checkbox" %>
                  Driving / Transportation
               <% end %>
               <%= label_tag :Errands, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Running Errands", false, class: "conditions-container__companion--checkbox" %>
                  Running Errands
               <% end %>
               <%= label_tag :Companionship, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Companionship", false, class: "conditions-container__companion--checkbox" %>
                  Companionship
               <% end %>
               <%= label_tag :Reminders, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Medication Reminders", false, class: "conditions-container__companion--checkbox" %>
                  Medication Reminders
               <% end %>
               <%= label_tag :Finance, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "companion_care[]", "Finance Management", false, class: "conditions-container__companion--checkbox" %>
                  Finance Management
               <% end %>
            </div>
            <div class="conditions-container__personal">
               <h3 class="conditions-container__personal--text">Personal Care</h3>
               <%= label_tag :bathing, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Bathing", false, class: "conditions-container__personal--checkbox" %>
                  Bathing
               <% end %>
               <%= label_tag :Grooming, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Grooming", false, class: "conditions-container__personal--checkbox" %>
                  Grooming
               <% end %>
               <%= label_tag :Dressing, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Dressing", false, class: "conditions-container__personal--checkbox" %>
                  Dressing
               <% end %>
               <%= label_tag :Toilet, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Toilet/Incontinence", false, class: "conditions-container__personal--checkbox" %>
                  Toilet/Incontinence
               <% end %>
               <%= label_tag :Transfering, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Transfering", false, class: "conditions-container__personal--checkbox" %>
                  Transfering
               <% end %>
               <%= label_tag :Ambulating, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Ambulating", false, class: "conditions-container__personal--checkbox" %>
                  Ambulating 
               <% end %>
               <%= label_tag :OralCare, nil, :class => "conditions-container__personal--label" do %>
                  <%= check_box_tag "personal_care[]", "Oral Care", false, class: "conditions-container__personal--checkbox" %>
                  Oral Care
               <% end %>
            </div>
         </div>
      </div>
      <div class="language-wrapper">
         <h3 class="conditions-container__companion--text">I am fluent in the following languages. Please check ALL that apply.</h3>
         <div class="language-container" >
            <%= label_tag :English, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "English", false, class: "conditions-container__personal--checkbox" %>
               English
            <% end %>
            <%= label_tag :Spanish, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "Spanish", false, class: "conditions-container__personal--checkbox" %>
               Spanish
            <% end %>
            <%= label_tag :German, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "German", false, class: "conditions-container__personal--checkbox" %>
               German
            <% end %>
            <%= label_tag :Russian, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "Russian", false, class: "conditions-container__personal--checkbox" %>
               Russian
            <% end %>
            <%= label_tag :French, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "French", false, class: "conditions-container__personal--checkbox" %>
               French
            <% end %>
            <%= label_tag :Italian, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "Italian", false, class: "conditions-container__personal--checkbox" %>
               Italian
            <% end %>
            <%= label_tag :Chinese, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "Chinese", false, class: "conditions-container__personal--checkbox" %>
               Chinese
            <% end %>
            <%= label_tag :Other, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "languages[]", "Other", false, class: "conditions-container__personal--checkbox" %>
               Other
            <% end %>
         </div>
      </div>
      <div class="actions">
         <%= f.submit "Update", class: "skills-submit-cg" %>
      </div>
   <% end %>
</div>