<h3>Edit recipient credentials</h3>
<% if @Jobpost.taken %>
      <p>This job has already been taken</p>
<% else %>
   <%= form_for @Jobpost, url: 'update_post',  html: {class: "nifty_form"} do |f| %>
      <h3><%= @Jobpost.title %></h3>
      <p><%= @Jobpost.description %></p>
      <% @Jobpost.family.recipient.companion_care.each do |care| %>
         <li><%= care %></li>
      <% end %>
      <%= mail_to @email, "Contact family" %>
   <% end %>
<% end %>

