<% if current_team.care_team %>
   <h3>For the Team index i want to have all current user information</h3>
   <div style="border: 1px solid lightgrey" class="post">
      <p>Name: <%= @team.firstname %> <%= @team.lastname %></p>
      <p>phone number: <%= @team.phone %></p>
      <p>located in: <%= @team.city %>, <%= @team.state %></p>
      <p>Currently in team: <%= @team.care_team.team_name %></p>
   </div>
<% else %>
   <p>Welcome! would you like to</p>
   <%= link_to 'create a team', 'team/new_team' %>
   <%= link_to 'join a team', 'team/join_team' %>
<% end %>

