<div class="team-container" style="background: #F3FCFF">
   <div class="home-teamsearch-container__care-text">
      <h3 class="home-teamsearch-container__care-text--text"><%= @care_team.team_name %></h3>
   </div>
   <div class="team-container__data-container" style="padding: 1.5rem 0">
      <div class="team-container__data-container__top">
         <p style="font-size: 1.35rem; margin-bottom: 0rem;">Team statement</p>
         <p style="font-size: 1.15rem; color: grey;"><%= @care_team.team_statement %></p>
         <p class="member-text" style="display: inline">Leader: <%= @care_team.care_giver.firstname%></p>
         <%= link_to 'View Leader', show_member_path(:id => @care_team.care_giver.id), class: "view-text" %><br>
         <% if current_care_giver.care_team %>
            <% @care_team_members.each do |person| %>
               <div style="margin: 1rem 0">
                  <p class="member-text" style="display: inline">Member: <%= person.firstname %></p>
                  <%= link_to 'View', show_member_path(:id => person.id), class: "view-text" %>
               </div>
            <% end %>
         <% else %>
            <% @care_team_members.each do |person| %>
               <div style="margin: 1rem 0">
                  <p class="member-text" style="display: inline">Member: <%= person.firstname %></p>
                  <%= link_to "Remove", remove_member_path(:id => person.id), :data => {:confirm=>'Are you sure?'}, class: "view-text" %>
                  <%= link_to 'View', show_member_path(:id => person.id), class: "view-text" %>
               </div>
            <% end %>
         <% end %>
      </div>
      <div class="team-container__data-container__bottom">
         <p class="service-text">Companion Care: $<%= @care_team.companion_hrly_price %> per hour</p>
         <p class="service-text">Personal Care: $<%= @care_team.personal_hrly_price %> per hour</p>
         <p class="service-text">Your total hours worked: <%= @total %></p>
         <p id="customer-button" class="customer-service">Customer Service</p>
         <a class="service-text" id="service-number" style="display: none;" href="tel:+1-800-888-8888">tel:+1-800-888-8888</a>
      </div>
   </div>
</div>
<% if @families.length == 0 %>
   <div class="all-posts-container">
      <div class="home-teamsearch-container__care-text">
         <h3 class="home-teamsearch-container__care-text--text">You are currently not working with any families</h3>
      </div>
      <div class="jobs-container">
            <div class="jobs-container__job">
               <div class="jobs-container__job-data"></div>
            </div>
      </div>
   </div>
 <% else %>
    <div class="all-posts-container">
      <div class="home-teamsearch-container__care-text">
         <h3 class="home-teamsearch-container__care-text--text">Your Jobs</h3>
      </div>
      <div class="jobs-container">
         <% @families.reverse.each do |family|%>
            <div class="jobs-container__job">
               <div class="jobs-container__job-data">
                  <h2 style="color: #133A6B">Contact: <%= family.firstname.titleize %> <%= family.lastname.first.titleize %>.</h2>
                  <a class="jobs-container__job-data--text" href="tel:<%= family.phone %>">Phone: <%= family.phone %></a>
                  <% if family.recipient %>
                     <h4 class="jobs-container__job-data--text">Care Recipient: <%= family.recipient.firstname %>, <%= family.recipient.gender %>, <%= family.recipient.age %> years old</h4>
                     <h4 class="jobs-container__job-data--text">Location: <%= family.recipient.city %>, <%= family.recipient.state %></h4>
                  <% end %>
                  <% if current_care_giver.care_team_id == nil %>
                     <%= link_to "Your teams hours for this week", leader_hours_path(:id => family.job_post.id), class: "jobs-container__job-data--text", style: "margin: 15px auto; display: block;" %>
                  <% else %>
                     <%= link_to "Your hours for this week", care_giver_hours_path, class: "jobs-container__job-data--text", style: "margin: 15px auto; display: block;" %>
                  <% end %>
               </div>
               <%= link_to "Log Hours", care_hours_path(:id => family.id), class: "request-job-button" %>
            </div>
         <% end %>
      </div>
    </div>
 <% end %>
