<% if current_care_giver.care_team %>
   <p>Leader: <%= @team.care_giver.firstname %></p>
   <% @members.each do |member| %>
      <p>Member: <%= member.firstname %></p>
   <% end %>
<% else %>
   <p>Leader: you are <%= @team.care_giver.firstname %></p>
   <% if(@members.length >= 1) %>
      <% @members.each do |member| %>
         <p>Member: <%= member.firstname %><%= link_to "remove", remove_member_path(:id => member.id), :data => {:confirm=>'Are you sure?'}%></p>
      <% end %>
   <% else %>
      <p>There are currently no other members</p>
   <% end %>
<% end %>

<% if @families == 0 %>
   <p>You are currently working with any families</p>
<% else %>
   <% @families.each do |family|%>
      <h4>working with </h4>
      <p><%=family.id %></p>
      <p><%=family.phone %></p>
      <p><%=family.recipient_relation %></p>
      <% if family.recipient %>
         <p><%= family.recipient.firstname %></p>
         <p><%= family.recipient.city %></p>
      <% end %>
   <% end %>
<% end %>






