<% if @teams.length > 0 %>
   <div class="search-results-container">
      <div class="home-teamsearch-container__care-text">
         <h3 class="home-teamsearch-container__care-text--text">Care teams</h3>
      </div>
      <h3 style="text-align: center; color: #104A75; font-size: 1.2rem;">Below are the teams best matched on your search</h3>
      <div class="teams-container">
         <% @teams.each do |team| %>
            <div class="teams-container__team">
               <div class="teams-container__data">
                  <h3><%= team.team_name %></h3>
                  <div class="teams-container__data--location-hours">
                     <h3><%= team.team_city%>, <%= team.team_state %></h3>
                     <h3>$<%= team.companion_hrly_price %>-$<%= team.personal_hrly_price %>/hr<h3p>
                  </div>
                  <p class="preview"><%= team.team_statement %></p>
               </div>
               <a class="contact-team-button" href="/team/show_team/<%= team.id %>">View team</a>
            </div>
         <% end %>
      </div>
      <div class="digg_pagination" style="margin-bottom: 1rem; display: flex; justify-content: center;">
         <%= will_paginate @teams %>
      </div>
   </div>
   <%= link_to 'back to search teams', join_teams_path, class: "home-jobpost-container__button", style: "width: 250px; text-decoration: none; text-align: center;" %>
<% else %>
   <div class="search-results-container">
      <div class="home-teamsearch-container__care-text">
         <h3 class="home-teamsearch-container__care-text--text">Care teams</h3>
      </div>
      <h3 style="text-align: center; color: #104A75; font-size: 1.2rem;">There are currently no teams in <%= params[:search] %>.</h3>
      <div class="teams-container">
         <%= link_to 'back to search teams', join_teams_path, class: "home-jobpost-container__button", style: "width: 250px; text-decoration: none; text-align: center;" %>
      </div>
   </div>
<% end %> 