<h3>Team information here</h3>
<p><%= flash[:notice] %></p>
<p>Team Name: <%= @team.team_name %></p>
<p>Team Statement: <%= @team.team_statement %></p>
<p>Team Leader: <%= @team.team.firstname %> <%= @team.team.lastname %></p>
<% @members.each do |member|%>
   <p>Member: <%= member.firstname %></p>
<% end %>
<%= form_for @team, url: {action:'update_team'},  html: {class: "nifty_form"} do |f| %>
   <%= f.submit 'Join Team' %>
<% end %>
<%= link_to 'go back', join_teams_path %>

