<p>Dear <%= @resource.firstname.titleize %> <%= @resource.lastname.titleize %>:</p>

<p>Thank you so very much for registering with TeamCarer. We really appreciate your business!</p>

<p>To continue with your registration process, please confirm your email by clicking the following link or copy and paste the link to the address bar in your internet browser.</p>

<p><%= link_to 'Link Here', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you experience technical difficulties in the registration process, please contact our team via the message box <%= link_to 'Link Here', root_url() %> or call us at 1-800-xxx-xxxx. We will respond to your questions as soon as we can.</p>

<p>Best Regards, </p>

<p>TeamCarer Support</p>

<p>Contact us <%= link_to 'Link Here', root_url() %></p>