<%= form_for :recipient, url: "update_recipient_for_post", html: {style: "padding-left: 1rem; padding-right: 1rem;"} do |f| %>
   <div class="signup-input-container">
      <h2 style="margin-top: 2.5rem; color: #104A75">Edit post</h2>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :gender %>
         <%= f.select :gender, options_for_select([["Male", "Male"],["Female","Female"]], current_family.recipient.gender), {:prompt => "Gender"}, {:class => "signup-input-container--input", :required => true } %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :age %>
         <%= f.text_field :age, maxlength: 3, required: true, placeholder: "Age", value: current_family.recipient.age, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">  
         <%= f.label :state %>    
         <%= f.select :state, options_for_select(CS.states(:us).map { |code, name| [name, code] }, current_family.recipient.state),{:prompt => "State"}, {:class => "signup-input-container-cg--input-cg", :id => "state-picker-cg", :required => true } %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">  
         <%= f.label :city %>    
         <%= f.text_field :city, required: true, value: current_family.recipient.city, class: "signup-input-container--input" %>
      </div>
      <h2 style="color: #104A75">Care Needed</h2>
      <div style="margin-top: 0" class="conditions-container">
         <div class="conditions-container__companion">
            <h3 class="conditions-container__companion--text">Companion Care</h3>
            <%= label_tag :HouseCleaning, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "House cleaning", (@recipient.companion_care.include?("House cleaning") ? true : false), class: "conditions-container__companion--checkbox" %>
               House Cleaning
            <% end %>
            <%= label_tag :Laundry, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Laundry", (@recipient.companion_care.include?("Laundry") ? true : false), class: "conditions-container__companion--checkbox" %>
               Laundry
            <% end %>
            <%= label_tag :mealprep, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Meal preperation", (@recipient.companion_care.include?("Meal preperation") ? true : false), class: "conditions-container__companion--checkbox" %>
               Meal preperation
            <% end %>
            <%= label_tag :transportation, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Driving / Transportation", (@recipient.companion_care.include?("Driving / Transportation") ? true : false), class: "conditions-container__companion--checkbox" %>
               Driving / Transportation
            <% end %>
            <%= label_tag :Errands, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Running Errands", (@recipient.companion_care.include?("Running Errands") ? true : false), class: "conditions-container__companion--checkbox" %>
               Running Errands
            <% end %>
            <%= label_tag :Companionship, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Companionship", (@recipient.companion_care.include?("Companionship") ? true : false), class: "conditions-container__companion--checkbox" %>
               Companionship
            <% end %>
            <%= label_tag :Reminders, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Medication Reminders", (@recipient.companion_care.include?("Medication Reminders") ? true : false), class: "conditions-container__companion--checkbox" %>
               Medication Reminders
            <% end %>
            <%= label_tag :Finance, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Finance Management", (@recipient.companion_care.include?("Finance Management") ? true : false), class: "conditions-container__companion--checkbox" %>
               Finance Management
            <% end %>
         </div>
         <div class="conditions-container__personal">
            <h3 class="conditions-container__personal--text">Personal Care</h3>
            <%= label_tag :bathing, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Bathing", (@recipient.personal_care.include?("Bathing") ? true : false), class: "conditions-container__personal--checkbox" %>
               Bathing
            <% end %>
            <%= label_tag :Grooming, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Grooming", (@recipient.personal_care.include?("Grooming") ? true : false), class: "conditions-container__personal--checkbox" %>
               Grooming
            <% end %>
            <%= label_tag :Dressing, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Dressing", (@recipient.personal_care.include?("Dressing") ? true : false), class: "conditions-container__personal--checkbox" %>
               Dressing
            <% end %>
            <%= label_tag :Toilet, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Toilet/Incontinence", (@recipient.personal_care.include?("Toilet/Incontinence") ? true : false), class: "conditions-container__personal--checkbox" %>
               Toilet/Incontinence
            <% end %>
            <%= label_tag :Transfering, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Transfering", (@recipient.personal_care.include?("Transfering") ? true : false), class: "conditions-container__personal--checkbox" %>
               Transfering
            <% end %>
            <%= label_tag :Ambulating, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Ambulating", (@recipient.personal_care.include?("Ambulating") ? true : false), class: "conditions-container__personal--checkbox" %>
               Ambulating 
            <% end %>
            <%= label_tag :OralCare, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Oral Care", (@recipient.personal_care.include?("Oral Care") ? true : false), class: "conditions-container__personal--checkbox" %>
               Oral Care
            <% end %>
         </div>
      </div>
      <h2 style="color: #104A75">Most desirable quality</h2>
      <div class="quality-container">
         <div class="inline">
            <%= f.radio_button :quality, 'Empathy' %>
            <%= f.label :quality, 'Empathy', value: "launch product", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Trust" %>
            <%= f.label :quality, "Trust", value: "Trust", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Credentials and Skills" %>
            <%= f.label :quality, "Credentials and Skills", value: "Credentials and Skills", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Speaks care recipients Language" %>
            <%= f.label :quality, "Speaks care recipients Language", value: "Speaks care recipients Language", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Punctuality & Reliability" %>
            <%= f.label :quality, "Punctuality & Reliability", value: "Punctuality & Reliability", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Persistence" %>
            <%= f.label :quality, "Persistence", value: "Persistence", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.label :quality, "If other please specify", style: "color: #104A75; margin-top: 1.1rem"%>
            <%= f.text_field :quality, placeholder: "Quality", autocomplete: "Quality", class: "signup-input-container--input number-field", id: "quality-text-box"%>
         </div>
      </div>
      <%= f.submit "Confirm changes", class: "signup-input-container--submit" %> 
   </div>
<% end %>   