<%= form_for @recipient, url: {action: 'update_recipient'}, html: {style: "padding-left: 1rem; padding-right: 1rem;"} do |f| %>
   <div class="signup-input-container">
      <h2 style="margin-top: 2.5rem; color: #104A75">Edit recipient credentials</h2>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :firstname %>
         <%= f.text_field :firstname, required: true, value: @recipient.firstname, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :lastname %>
         <%= f.text_field :lastname, required: true, value: @recipient.lastname, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :gender %>
         <%= f.select :gender, options_for_select([["Male", "Male"],["Female", "Female"]], @recipient.gender), {}, {:class => "signup-input-container--input", :required => true } %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :age %>
         <%= f.text_field :age, required: true, value: @recipient.age, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :primary_language %>
         <%= f.text_field :primary_language, required: true, value: @recipient.primary_language, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :phone %>
         <%= f.text_field :phone, required: true, maxlength: 10, value: @recipient.phone, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :address %>
         <%= f.text_field :address, required: true, value: @recipient.address, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :city %>
         <%= f.text_field :city, required: true, value: @recipient.city, class: "signup-input-container--input" %>
      </div>
      <div class="field" style="margin-top: 1.5rem;">
         <%= f.label :state %>
         <%= f.select :state, options_for_select(CS.states(:us).map { |code, name| [name, code] }, @recipient.state ), {}, {:class => "signup-input-container--input", :id => "state-picker-cg", :style => "margin-bottom: 2.5rem;", :required => true} %>
      </div>
      <h2 style="color: #104A75">Care Needed</h2>
      <div style="margin-top: 0" class="conditions-container">
         <div class="conditions-container__companion">
            <h3 class="conditions-container__companion--text">Companion Care</h3>
            <%= label_tag :HouseCleaning, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "House cleaning", (@recipient.companion_care.include?("House cleaning") ? true : false), class: "conditions-container__companion--checkbox" %>
               House Cleaning
            <% end %>
            <%= label_tag :Laundry, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Laundry", (@recipient.companion_care.include?("Laundry") ? true : false), class: "conditions-container__companion--checkbox" %>
               Laundry
            <% end %>
            <%= label_tag :mealprep, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Meal preperation", (@recipient.companion_care.include?("Meal preperation") ? true : false), class: "conditions-container__companion--checkbox" %>
               Meal preperation
            <% end %>
            <%= label_tag :transportation, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Driving / Transportation", (@recipient.companion_care.include?("Driving / Transportation") ? true : false), class: "conditions-container__companion--checkbox" %>
               Driving / Transportation
            <% end %>
            <%= label_tag :Errands, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Running Errands", (@recipient.companion_care.include?("Running Errands") ? true : false), class: "conditions-container__companion--checkbox" %>
               Running Errands
            <% end %>
            <%= label_tag :Companionship, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Companionship", (@recipient.companion_care.include?("Companionship") ? true : false), class: "conditions-container__companion--checkbox" %>
               Companionship
            <% end %>
            <%= label_tag :Reminders, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Medication Reminders", (@recipient.companion_care.include?("Medication Reminders") ? true : false), class: "conditions-container__companion--checkbox" %>
               Medication Reminders
            <% end %>
            <%= label_tag :Finance, nil, :class => "conditions-container__companion--label" do %>
               <%= check_box_tag "companion_care[]", "Finance Management", (@recipient.companion_care.include?("Finance Management") ? true : false), class: "conditions-container__companion--checkbox" %>
               Finance Management
            <% end %>
         </div>
         <div class="conditions-container__personal">
            <h3 class="conditions-container__personal--text">Personal Care</h3>
            <%= label_tag :bathing, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Bathing", (@recipient.personal_care.include?("Bathing") ? true : false), class: "conditions-container__personal--checkbox" %>
               Bathing
            <% end %>
            <%= label_tag :Grooming, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Grooming", (@recipient.personal_care.include?("Grooming") ? true : false), class: "conditions-container__personal--checkbox" %>
               Grooming
            <% end %>
            <%= label_tag :Dressing, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Dressing", (@recipient.personal_care.include?("Dressing") ? true : false), class: "conditions-container__personal--checkbox" %>
               Dressing
            <% end %>
            <%= label_tag :Toilet, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Toilet/Incontinence", (@recipient.personal_care.include?("Toilet/Incontinence") ? true : false), class: "conditions-container__personal--checkbox" %>
               Toilet/Incontinence
            <% end %>
            <%= label_tag :Transfering, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Transfering", (@recipient.personal_care.include?("Transfering") ? true : false), class: "conditions-container__personal--checkbox" %>
               Transfering
            <% end %>
            <%= label_tag :Ambulating, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Ambulating", (@recipient.personal_care.include?("Ambulating") ? true : false), class: "conditions-container__personal--checkbox" %>
               Ambulating 
            <% end %>
            <%= label_tag :OralCare, nil, :class => "conditions-container__personal--label" do %>
               <%= check_box_tag "personal_care[]", "Oral Care", (@recipient.personal_care.include?("Oral Care") ? true : false), class: "conditions-container__personal--checkbox" %>
               Oral Care
            <% end %>
         </div>
      </div>
      <h2 style="color: #104A75">Mobility</h2>
      <div class="mobility-container">
         <%= label_tag :Cane, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Cane", (@recipient.mobility.include?("Cane") ? true : false), class: "conditions-container__companion--checkbox" %>
            Cane
         <% end %>
         <%= label_tag :Walker, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Walker", (@recipient.mobility.include?("Walker") ? true : false), class: "conditions-container__companion--checkbox" %>
            Walker
         <% end %>
         <%= label_tag :WheelChair, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Wheel Chair", (@recipient.mobility.include?("Wheel Chair") ? true : false), class: "conditions-container__companion--checkbox" %>
            Wheel Chair
         <% end %>
         <%= label_tag :Hoyer, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Hoyer Lift", (@recipient.mobility.include?("Hoyer Lift") ? true : false), class: "conditions-container__companion--checkbox" %>
            Hoyer Lift
         <% end %>
         <%= label_tag :Scooter, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Scooter", (@recipient.mobility.include?("Scooter") ? true : false), class: "conditions-container__companion--checkbox" %>
            Scooter
         <% end %>
         <%= label_tag :HospitalBed, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "Hospital Bed", (@recipient.mobility.include?("Hospital Bed") ? true : false), class: "conditions-container__companion--checkbox" %>
            Hospital Bed
         <% end %>
         <%= label_tag :NotApplicable, nil, :class => "conditions-container__companion--label" do %>
            <%= check_box_tag "mobility[]", "N/A", (@recipient.mobility.include?("N/A") ? true : false), class: "conditions-container__companion--checkbox" %>
            Not Applicable
         <% end %>
      </div>
      <div class="recipient-condition-cont" style="margin-top: 1rem;">
         <h2 style="color: #104A75;margin-top: 3.2rem;">Conditions</h2>
         <div style="margin-top: 0;" class="conditions-container">
            <div class="conditions-container__companion">
               <h3 class="conditions-container__companion--text">Common Conditions</h3>
               <%= label_tag :Memory, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Memory impairment / Dementia", (@recipient.conditions.include?("Memory impairment / Dementia") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Memory impairment / Dementia
               <% end %>
               <%= label_tag :HeartFailure, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Congestive heart failure", (@recipient.conditions.include?("Congestive heart failure") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Congestive heart failure
               <% end %>
               <%= label_tag :Diabetes, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Diabetes", (@recipient.conditions.include?("Diabetes") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Diabetese
               <% end %>
               <%= label_tag :EndStage, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "End stage renal disease", (@recipient.conditions.include?("End stage renal disease") ? true : false), class: "conditions-container__companion--checkbox" %>
                  End stage renal disease
               <% end %>
               <%= label_tag :Thrive, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Failure to thrive", (@recipient.conditions.include?("Failure to thrive") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Failure to thrive
               <% end %>
               <%= label_tag :Risk, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Fall risk", (@recipient.conditions.include?("Fall risk") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Fall risk
               <% end %>
            </div>
            <div class="conditions-container__companion">
               <h3 class="conditions-container__companion--text">Other Conditions</h3>
               <%= label_tag :Cancer, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Cancer", (@recipient.conditions.include?("Cancer") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Cancer
               <% end %>
               <%= label_tag :Chronic, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Chronic Obstructive Pulmonary disease", (@recipient.conditions.include?("Chronic Obstructive Pulmonary disease") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Chronic Obstructive Pulmonary disease
               <% end %>
               <%= label_tag :Stroke, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Stroke", (@recipient.conditions.include?("Stroke") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Stroke
               <% end %>
               <%= label_tag :Musculoskeletal, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Musculoskeletal disorders", (@recipient.conditions.include?("Musculoskeletal disorders") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Musculoskeletal disorders
               <% end %>
               <%= label_tag :Psychiatric, nil, :class => "conditions-container__companion--label" do %>
                  <%= check_box_tag "conditions[]", "Psychiatric disorders", (@recipient.conditions.include?("Psychiatric disorders") ? true : false), class: "conditions-container__companion--checkbox" %>
                  Psychiatric disorders
               <% end %>
               <label class="conditions-container__companion--label" for="Other">
                  <input type="checkbox" id="condition-other-fam" class="conditions-container__companion--checkbox" />
                  Other
               </label>
               <input type="textbox" name="conditions[]", placeholder="Condition" id="condition-other-input-fam", class="signup-input-container--input" style="display: none;"/>
            </div>
         </div>
      </div>
      <h2 style="color: #104A75">Most desirable quality</h2>
      <div class="quality-container">
         <div class="inline">
            <%= f.radio_button :quality, 'Empathy' %>
            <%= f.label :quality, 'Empathy', value: "launch product", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Trust" %>
            <%= f.label :quality, "Trust", value: "Trust", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Credentials and Skills" %>
            <%= f.label :quality, "Credentials and Skills", value: "Credentials and Skills", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Speaks care recipients Language" %>
            <%= f.label :quality, "Speaks care recipients Language", value: "Speaks care recipients Language", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Punctuality & Reliability" %>
            <%= f.label :quality, "Punctuality & Reliability", value: "Punctuality & Reliability", :class => "conditions-container__companion--label" %>
         </div>
         <div class="inline">
            <%= f.radio_button :quality, "Persistence" %>
            <%= f.label :quality, "Persistence", value: "Persistence", :class => "conditions-container__companion--label" %>
         </div>
      </div>
      <%= f.submit "Confirm Changes", class: "signup-input-container--submit" %>
   </div>
<% end %>
