<% if !current_family.job_post %>
   <div class="home-jobpost-container">
      <div class="home-jobpost-container__create">
         <h3 class="home-jobpost-container__create--text">Do You Want to Create a Job Post?</h3>
      </div>
      <div class="home-jobpost-container__changes">
         <h3 class="home-jobpost-container__changes--text">You can make changes after you post. Only items flagged with an asterick will be posted, and only registered care teams can see the post.</h3>
      </div>
      <%= form_for  :jobpost , url: "family/create_post" do |f| %>
         <div class="home-jobpost-container__form-input">
            <%= f.label :title, 'Give a title to your Job Post'%>
            <%= f.text_field :title, required: true, placeholder: "Title", class: "home-jobpost-container__form-input--input" %>
         </div>
         <%= f.submit "Next", class: "home-jobpost-container__button" %>
      <% end %>
   </div>
<% else %>
   <div class="home-family-member">
      <div class="home-family-member__text-container">
         <h2 class="home-family-member__text-container--text">Family Member</h2>
      </div>
      <div class="data-container">
         <div class="data-container__left">
            <p class="data-container__left--text">First Name: <%= current_family.firstname %></p>
            <p class="data-container__left--text">Last Name: <%= current_family.lastname %></p>
            <p class="data-container__left--text">E-mail: <%= current_family.email %></p>
            <a class="data-container__left--text" href="tel:#{current_family.phone}">Phone: <%= current_family.phone %></a>
         </div>
         <div class="data-container__right">
            <p class="data-container__right--text">City: <%= current_family.city %></p>
            <p class="data-container__right--text">State: <%= current_family.state %></p>
            <p class="data-container__right--text">Address: <%= current_family.street %></p>
            <p class="data-container__right--text">Zipcode: <%= current_family.zip %></p>
         </div>
      </div>
      <%= link_to "Update", "families/edit", class: "home-jobpost-container__button", style: "text-decoration: none; text-align: center;"%>
   </div>
<% end %>
