<% if !@job_post %>
   <div class="home-newpost-container">
      <div class="home-newpost-container__title-text"  style="border: none;">
         <h4 class="home-newpost-container__title-text--text">You have not made a post yet.</h4>
      </div>
   </div>
   <%= link_to "Create a post", family_root_path, class: "home-jobpost-container__button", style: "text-decoration: none; text-align: center; width: 175px;"%>
<% else %>
   <div class="home-newpost-container">
      <div class="home-newpost-container__title-text">
         <h4 class="home-newpost-container__title-text--text"><%= @job_post.title %></h4>
      </div>
      <div class="home-newpost-container__preview-container" style="padding: 2rem">
         <div class="home-newpost-container__left-side">
            <h3 class="home-newpost-container__left-side--text">Care Recipient: <%= current_family.recipient.gender %>, <%= current_family.recipient.age %> years old</h3>
            <h3 class="home-newpost-container__left-side--text">Location: <%= @job_post.city %>, <%= @job_post.state %> </h3>
            <div class="care-needed-container">
               <h3 class="home-newpost-container__left-side--text">Care Needed:</h3>
               <% if current_family.recipient.companion_care == nil && current_family.recipient.personal_care == nil %>
                  <p class="home-newpost-container__left-side--text">No Care needed</p>
               <% else %>
                  <% if current_family.recipient.companion_care == nil %>
                     <ul>
                        <% current_family.recipient.personal_care.each do |care| %>
                           <li class="home-newpost-container__left-side--text"><%= care %></li>
                        <% end %>
                     </ul>
                  <% elsif current_family.recipient.personal_care == nil %>
                     <ul>
                        <% current_family.recipient.companion_care.each do |care| %>
                           <li class="home-newpost-container__left-side--text"><%= care %></li>
                        <% end %>
                     </ul>
                  <% else %>
                     <ul>
                        <% current_family.recipient.companion_care.concat(current_family.recipient.personal_care).each do |care| %>
                           <li class="home-newpost-container__left-side--text"><%= care %></li>
                        <% end %>
                     </ul>
                  <% end %>
               <% end %>
            </div>
            <h4 class="home-newpost-container__left-side--text">Most Desired Quality: <%= current_family.recipient.quality %></h4>
            <h3 class="home-newpost-container__left-side--text">Family contact: <%= @job_post.family_contact %> </h3>
            <h3 class="home-newpost-container__left-side--text">Posted: <%= timeago(@job_post.created_at) %></h3>
         </div>
         <div class="home-newpost-container__right-side">
            <div class="medical-conditions-container">
               <h3 class="home-newpost-container__left-side--text">Medical Conditions:</h3>
               <ul>
                  <% current_family.recipient.conditions.each do |condition|%>
                     <li class="home-newpost-container__left-side--text"><%= condition %></li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <% if !current_family.care_team_id %>
      <%= link_to "Delete Post", delete_post_path(:id => current_family.job_post), :method => :delete, class: "home-jobpost-container__button", data: { confirm: "Are you sure?" }, style: "text-decoration: none; text-align: center;" %>
   <% end %>
   <% if current_family.care_team_id == nil %>
      <p class="hours-app"><%= @total %></p>
   <% else %>
      <table id="hours-table" cellspacing="0" style="margin-top: 4rem;margin-bottom: 7rem;">
         <caption class="hours-app">Hours for week of <%= Date.today.beginning_of_week.strftime('%m/%d/%Y') %> - <%= Date.today.end_of_week.strftime('%m/%d/%Y') %></caption>
         <thead>
            <tr>
               <th class="hours-block">Caregiver</th>
               <th class="hours-block" style="border-left: none;">Day worked</th>
               <th class="hours-block" style="border-left: none;">Companion hours</th>
               <th class="hours-block" style="border-left: none;">Personal hours</th>
            </tr>
         </thead>
         <tbody>
            <% @hours.each do |hours|%>
               <tr>
                  <td class="hours-block data" scope="row" style="border-top: none;"><%= hours.care_giver.firstname.titleize %></td>
                  <td class="hours-block data" scope="row" style="border-left: none; border-top: none;"><%= hours.created_at.strftime("%m-%d-%Y") %></td>
                  <td class="hours-block data" scope="row" style="border-left: none; border-top: none;"><%= hours.companion_hours %></td>
                  <td class="hours-block data" scope="row" style="border-left: none; border-top: none;"><%= hours.personal_hours %></td>
               </tr>
            <% end %>
            <tr>
               <td style="visibility: hidden;">&nbsp;</td>
               <td style="visibility: hidden;">&nbsp;</td>
               <td class="hours-block data" style="border-top: none;">Total: <%= @companion %> hours</td>
               <td class="hours-block data" style="border-left: none; border-top: none;">Total: <%= @personal %> hours</td>
            </tr>
            <tr>
               <td style="visibility: hidden;">&nbsp;</td>
               <td style="visibility: hidden;">&nbsp;</td>
               <td class="hours-block data" style="border-top: none;">Hourly rate: $<%= @care_team.companion_hrly_price %></td>
               <td class="hours-block data" style="border-left: none; border-top: none;">Hourly rate: $<%= @care_team.personal_hrly_price %></td>
            </tr>
            <tr>
               <td style="visibility: hidden;">&nbsp;</td>
               <td style="visibility: hidden;">&nbsp;</td>
               <td style="visibility: hidden; border-right: none">&nbsp;</td>
               <td class="hours-block data" style="border-top: none; background: #104A75; color: white;">Total: <b>$<%= @total %></b></td>
            </tr>
         </tbody>
      </table>
      <%= link_to "Make Payment", new_charge_path, class: "home-jobpost-container__button", style: "text-align: center; text-decoration: none; margin-bottom: 5rem; width: 150px;" %>
   <% end %>
<% end %>
