<h3>Your job post will look like this to Teams. Make changes or continue ?</h3>
<%= form_for :jobpost , url: "update_post",  html: {class: "nifty_form"} do |f| %>
   <h4>title:<%= @jobpost_title %></h4>
   <h3>Care Recipient: <%= @recipient_info.gender %>, <%= @recipient_info.age %> years old</h3>
   <h3>Location <%= @location %> </h3>
   <h3>Care Needed</h3>
   <% if @recipient_info.companion_care == nil && @recipient_info.personal_care == nil %>
      <p>Select Care needed</p>
   <% else %>
      <% if @recipient_info.companion_care == nil %>
         <% @recipient_info.personal_care.each do |care| %>
            <li><%= care %></li>
         <% end %>
      <% elsif @recipient_info.personal_care == nil %>
         <% @recipient_info.companion_care.each do |care| %>
            <li><%= care %></li>
         <% end %>
      <% else %>
         <% @recipient_info.companion_care.concat(@recipient_info.personal_care).each do |care| %>
            <li><%= care %></li>
         <% end %>
      <% end %>
   <% end %>
   <h3>Medical Conditions</h3>
   <% @recipient_info.conditions.each do |condition|%>
      <li><%= condition %></li>
   <% end %>
   <h3>Most desired Quality: <%= @recipient_info.quality %> </h3>
   <h3>Family contact: <%= @family_contact %> </h3>
   <h3>Posted: <%= timeago(@jobpost.created_at) %></h3>
   <%= f.text_area :companion_care, style:"display: none;", value: @care_needed  %>
   <%= f.text_area :recipient_conditions, style:"display: none;", value: @recipient_info.conditions %>
   <%= f.text_field :recipient_gender,style:"display: none;", value: @recipient_info.gender %>
   <%= f.text_field :location, style:"display: none;", value: @location %>
   <%= f.text_field :family_contact, style:"display: none;", value: @family_contact %>
   <%= f.text_field :recipient_quality, style:"display: none;", value: @recipient_info.quality %>
   <%= link_to 'edit erpost', '/family_steps/care_needed' %>
   <%= link_to 'edit post', edit_posting_path %>
   <%= f.submit%>
<% end %>