<h3>Recipient</h3>
<% if @recipient %>
   <div style="border: 1px solid lightgrey" class="post">
      <p>firstname: <%= @recipient.firstname %></p>
      <p>lastname: <%= @recipient.lastname %></p>
      <p>Gender: <%= @recipient.gender %></p>
      <p>Age: <%= @recipient.age %></p>
      <p>Recipient Belongs to : <%= @recipient.family.firstname %></p>
   </div>
   <a href="edit_recipient/<%= @recipient.id %>/edit">Edit Recipient</a>
<% else %>
   <%= form_for :recipient, url: "create_recipient",  html: {class: "nifty_form"} do |f| %>
      <%= f.label :firstname %>
      <%= f.text_field :firstname, required: true %><br>
      <%= f.label :lastname %>
      <%= f.text_field :lastname, required: true %><br>
      <%= f.label :gender %>
      <%= f.text_field :gender, required: true %><br>
      <%= f.label :age %>
      <%= f.text_field :age, required: true %><br>
      <%= f.submit%>
   <% end %>
<% end %>
