<div class="member-container">
   <div class="home-teamsearch-container__care-text">
      <h3 class="home-teamsearch-container__care-text--text"><%= @member.firstname.titleize %> <%= @member.lastname.first.titleize %>.</h3>
   </div>
   <div class="member-data-container">
      <div class="member-data-container__left">
         <% if @member.care_team %>
            <h3 class="member-data-container__left--team_name"><%= @member.care_team.team_name %></h3>
            <a class="member-data-container__left--team_name" href="tel:<%= @member.phone %>" >Contact: <%= @member.phone %></a>
         <% else %>
            <h3 class="member-data-container__left--team_name"><%= @leader.team_name %></h3>
            <a class="member-data-container__left--team_name" href="tel:<%= @leader.care_giver.phone %>">Contact: <%= @leader.care_giver.phone %></a>
         <% end %>
         <h3 class="member-data-container__left--text">Education</h3>
         <% @education.each do |po|%>
            <li class="list-item"><%= po.school %></li>
         <% end %>
         <h3 class="member-data-container__left--text">Certificates</h3>
         <% @certificates.each do |po|%>
            <li class="list-item"><%= po.certificate %></li>
         <% end %>
         <h3 class="member-data-container__left--text">Languages</h3>
         <% @member.languages.each do |language|%>
            <li class="list-item"><%= language %></li>
         <% end %>
         <div style="margin: 1.5em 0 3rem 0;">
            <h3 class="member-data-container__left--text"  style="display: inline;">Experience</h3>
            <% if @member.years_experience.to_i > 1 %>
               <p style="display: inline;"><%= @member.years_experience %> years</p>
            <% else %>
               <p style="display: inline;"><%= @member.years_experience %> year</p>
            <% end %>
         </div>
         <%= link_to "Back to Team", :back, :style => "font-size: 1.2rem; text-decoration: none; color: white; background: #104A75; padding: 1rem; border-radius: 3px;" %>
      </div>
      <div class="member-data-container__right">
         <h3 class="member-data-container__left--text">Personal Statement</h3>
         <p style="color: grey;"><%= @member.statement %></p>
         <h3 class="member-data-container__left--text">Experience with</h3>
         <% if @member.conditions == nil %>
            <li class="list-item">No conditions</li>
         <% else %>
            <% @member.conditions.each do |condition|%>
               <li class="list-item"><%= condition %></li>
            <% end %>
         <% end %>
         <h3 class="member-data-container__left--text">Companion Care</h3>
         <% if @member.companion_care == nil %>
            <li class="list-item">No companion care</li>
         <% else %>
            <% @member.companion_care.each do |condition|%>
               <li class="list-item"><%= condition %></li>
            <% end %>
         <% end %>
         <h3 class="member-data-container__left--text">Personal Care</h3>
         <% if @member.personal_care == nil %>
            <li class="list-item">No personal care</li>
         <% else %>
            <% @member.personal_care.each do |condition|%>
               <li class="list-item"><%= condition %></li>
            <% end %>
         <% end %>
         <h3 class="member-data-container__left--text">Related Service</h3>
         <% if @member.related_service == nil %>
            <li class="list-item">No related service</li>
         <% else %>
            <% @member.related_service.each do |condition|%>
               <li class="list-item"><%= condition %></li>
            <% end %>
         <% end %>
      </div>
   </div>
</div>
