<h1>show team</h1>
<p>Team-statment: <%= @care_team.team_statement%></p>
<span>Leader: <%= @care_team.care_giver.firstname%></span>
<%= link_to 'View Leader', team_show_member_path(:id => @care_team.care_giver.id) %>
<% @care_team_members.each do |person| %>
   <div style="border: 1px solid lightgrey" class="post">
      <p>member:<%= person.firstname %></p>
      <%= link_to 'View Member', team_show_member_path(:id => person.id) %>
   </div>
<% end %>
<%= link_to 'Select This Team',team_selection_path(:id => @care_team.id), :data => { :confirm => 'Are you sure?' }, style: "display: block; margin: 1rem 0"%>

