<h3>results</h3>
<% if @teams %>
   <p>found <%= @teams.length %> teams out of <%= @all_teams.length %> containing the term(s) <%= params[:search] %></p>
   <% @teams.each do |team| %>
      <div style="border: 1px solid lightgrey" class="post">
         <p>team name:<%= team.team_name %></p>
      </div>
   <% end %>
   <%= link_to 'back to all teams', search_team_path %>
<% else %>
   <p>There are no teams containing the term(s) <%= params[:search] %>.</p>
   <%= link_to 'back to all teams', search_team_path %>
<% end %> 