<h3>results</h3>
<% if @teams %>
   <p>found <%= @teams.length %> teams out of <%= @all_teams.length %> In the state of <%= params[:search] %></p>
   <% @teams.each do |team| %>
      <div style="border: 1px solid lightgrey" class="post">
         <p>team name:<%= team.team_name %></p>
         <p><%= team.team_city%>,<%= team.team_state %></p>
         <p><%= team.team_statement %></p>
         <%= link_to 'Contact this team', team_show_path(:id => team.id) %>
      </div>
   <% end %>
   <%= link_to 'back to all teams', search_team_path %>
   <%= will_paginate @teams %>
<% else %>
   <p>There are no teams currently in <%= params[:search] %>.</p>
   <%= link_to 'back to all teams', search_team_path %>
<% end %> 