<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
   <div class="signup-input-container" style="width: 90%;">
      <%= devise_error_messages! %>
      <h2 style="margin-top: 5rem; color: #FFB052">Edit your profile</h2>
      <div class="field">
         <%= f.label :firstname, "First name" %>
         <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First name", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :lastname, "Last name" %>
         <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", placeholder:"Last name", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :phone %>
         <%= f.telephone_field :phone, maxlength: 11, autocomplete: "phone", placeholder: "Phone", class: "signup-input-container-cg--input-cg number-field" %>
      </div>
      <div class="field">
         <%= f.label :state %>
         <%= f.select :state, options_for_select(CS.states(:us).map { |code, name| [name, code] }, @state),{:prompt => "State"}, {:class => "signup-input-container-cg--input-cg", :id => "state-picker-cg"} %>
      </div>
      <div class="field">
         <%= f.label :city %>
         <%= f.text_field :city, autocomplete: "City", placeholder: "City", class: "signup-input-container-cg--input-cg" %> 
      </div>
      <div class="field">
         <%= f.label :street %>
         <%= f.text_field :street, autofocus: true, autocomplete: "street", placeholder: "Street Address", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :zip %>
         <%= f.text_field :zip, maxlength: 5, autofocus: true, autocomplete: "zip", placeholder: "Zip Code", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :emergency_contact, "Emergency contact" %>
         <%= f.text_field :emergency_contact, autofocus: true, autocomplete: "emergency_name", placeholder: "Emergency contact name", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :emergency_number, "Emergency contact number" %>
         <%= f.telephone_field :emergency_number, maxlength: 11, autofocus: true, autocomplete: "emergency_contact", placeholder: "Emergency contact number", class: "signup-input-container-cg--input-cg number-field" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
         <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
         <% end %>
         <%= f.password_field :password, autocomplete: "new-password", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
          <div>Confirm new password</div>
         <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="field">
         <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
         <%= f.password_field :current_password, autocomplete: "current-password", class: "signup-input-container-cg--input-cg" %>
      </div>
      <div class="actions">
         <%= f.submit "Update", class: "signup-input-container-cg--submit-cg" %>
      </div>
      <%= link_to "Go Back", family_root_path, class: "signup-input-container-cg--submit-cg", style:"width: 100%; text-decoration: none; margin: 0 auto; display: block; text-align: center;" %>
   </div>
<% end %>
