<header>
   <div class="header-container">
      <div class="mobile-nav">
         <a style="display: flex;" href="/">
            <%= image_tag "logo.png", class: "mobile-nav__logo" %>
         </a>
         <a class="mobile-nav__lines toggle-nav">
            <span class="mobile-nav__lines--line1"></span>
            <span class="mobile-nav__lines--line2"></span>
            <span class="mobile-nav__lines--line3"></span>
         </a>
      </div>
      <nav class="desktop-nav">
         <ul class="desktop-nav-list">
            <% if family_signed_in? %>
               <a class="desktop-nav-list__item desktop-nav-list__item--text" style="margin-left: 120px;" href="/">Home</a>
               <li class="desktop-nav-list__item" style="margin-left: 18px;">Dashboard
                  <ul class="desktop-dropdown">
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/family">Home</a>
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/family/my_posting">My Posting</a>
                     <% unless current_family.job_post %>
                        <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/family/new_post">Create a Job post</a>
                     <% end %>     
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/family/recipient">Care Recipient</a>   
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/family/team_search">Search for a team</a>
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/families/edit">Settings</a>             
                  </ul>
               </li>
               <%= link_to "Log out", destroy_family_session_path, method: :delete, class: "desktop-nav-list__item desktop-nav-list__item--text" %>
            <% elsif care_giver_signed_in? %>
               <a class="desktop-nav-list__item desktop-nav-list__item--text" style="margin-left: 120px;" href="/">Home</a>
               <li class="desktop-nav-list__item" style="margin-left: 18px;">Dashboard
                  <ul class="desktop-dropdown">
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/team">Home</a>
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/team/posts">Job postings</a> 
                     <% if current_care_giver.care_team %>
                        <%= link_to "My team", my_care_team_path(:id => current_care_giver.care_team), :class => "desktop-dropdown__list-item desktop-dropdown__list-item--text"%>
                     <% end %>
                     <% if current_care_giver.leader %>
                        <%= link_to "My team", my_care_team_path(:id => CareTeam.where(care_giver_id: current_care_giver.id)[0]), :class => "desktop-dropdown__list-item desktop-dropdown__list-item--text" %>
                     <% end %>   
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/team/edit">Settings</a>             
                  </ul>
               </li>
               <%= link_to "Log out", destroy_care_giver_session_path, method: :delete, class: "desktop-nav-list__item desktop-nav-list__item--text" %>
            <% else %>
               <a class="desktop-nav-list__item desktop-nav-list__item--text" href="/">Home</a>
               <li class="desktop-nav-list__item">Log in 
                  <ul class="desktop-dropdown">
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/families/sign_in">Family</a>
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/care_givers/sign_in">Caregiver</a>
                  </ul>
               </li>
               <li class="desktop-nav-list__item">Sign up 
                  <ul class="desktop-dropdown">
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/families/sign_up">Family</a>
                     <a class="desktop-dropdown__list-item desktop-dropdown__list-item--text" href="/care_givers/sign_up">Caregiver</a>
                  </ul>
               </li> 
               <a class="desktop-nav-list__item desktop-nav-list__item--text" id="aboutus" href="/">About Us</a>
               <a class="desktop-nav-list__item desktop-nav-list__item--text" id="contact" href="/">Contact</a>
            <% end %>
         </ul>
      </nav>
      <nav class="site-menu">
         <ul class="side-menu">
            <a class="side-menu__list-item side-menu__list-item--text" href="/">Home</a>
            <% if family_signed_in? %>
               <li class="side-menu__list-item">Dashboard <i class="fas fa-chevron-down"></i>
                  <ul class="sub-menu">
                     <%= link_to "- Home", "/family", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <%= link_to "- My posting", "/family/my_posting", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <% unless current_family.job_post %>
                        <%= link_to "- Create a Job post", "/family/new_post", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <% end %>
                     <%= link_to "- Care Recipient", "/family/recipient", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <%= link_to "- Search for a team", "/family/team_search", class: "sub-menu__list-item sub-menu__list-item--text" %>
                  </ul>
               </li>
               <%= link_to "Log out", destroy_family_session_path, method: :delete, class: "side-menu__list-item side-menu__list-item--text" %>
               <%= link_to "Settings", "/families/edit", class: "side-menu__list-item side-menu__list-item--text" %>
               <li class="side-menu__list-item toggle-nav">Close</li>
            <% elsif care_giver_signed_in? %>
               <li class="side-menu__list-item">Dashboard <i class="fas fa-chevron-down"></i>
                  <ul class="sub-menu">
                     <%= link_to "- Home", "/team", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <%= link_to "- All Job post", "/team/posts", class: "sub-menu__list-item sub-menu__list-item--text" %>
                     <%= link_to "- My team", "/team/my_team", class: "sub-menu__list-item sub-menu__list-item--text" %>
                  </ul>
               </li>
               <%= link_to "Log out", destroy_care_giver_session_path, method: :delete, class: "side-menu__list-item side-menu__list-item--text" %>
               <%= link_to "Settings", "/care_givers/edit" , class: "side-menu__list-item side-menu__list-item--text" %>
               <li class="side-menu__list-item toggle-nav">Close</li>
            <% else %>
               <li class="side-menu__list-item">Sign Up <i class="fas fa-chevron-down"></i>
                  <ul class="sub-menu">
                     <a class="sub-menu__list-item sub-menu__list-item--text" href="/families/sign_up">- Family</a>
                     <a class="sub-menu__list-item sub-menu__list-item--text" href="/care_givers/sign_up" >- Caregiver</a>
                  </ul>
               </li>
               <li class="side-menu__list-item">Log In <i class="fas fa-chevron-down"></i>
                  <ul class="sub-menu">
                     <a class="sub-menu__list-item sub-menu__list-item--text" href="/families/sign_in">- Family</a>
                     <a class="sub-menu__list-item sub-menu__list-item--text" href="/care_givers/sign_in" >- Caregiver</a>
                  </ul>
               </li>
               <a class="side-menu__list-item side-menu__list-item--text" id="aboutus-mobile" href="/">About Us</a>
               <a class="side-menu__list-item side-menu__list-item--text" id="contact-mobile" href="/">Contact</a>
               <li class="side-menu__list-item toggle-nav">Close</li>
            <% end %>
         </ul>
      </nav>
   </div>
</header>
