<!DOCTYPE html>
<html>
  <head>
    <title>Teamcarer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>
  <body>
      <!-- flash messages -->
      <% flash.each do |name, message|%>
         <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
      <% end %>
      <%= yield %>
  </body>
</html>
