<!DOCTYPE html>
<html>
   <head>
      <title>Teamcarer</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <script src="https://use.fontawesome.com/f5fb6e9872.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>

      <%= favicon_link_tag asset_path('logo-icon.ico') %>
      <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>
      <% if content_for?(:meta_og) %>
         <%= yield :meta_og %>
      <% else %>
         <meta property="og:title" content="Teamcarer inc" />
         <meta property="og:type" content="website" />
         <meta property="og:url" content="teamcarer.herokuapp.com" />
         <%= tag :meta, property: 'og:image', content: image_url('logo.png') %>
      <% end %>
   </head>
   <body>
      <div class="main">
         <div class="black-overlay"></div>
         <%= render "layouts/partials/header" %>
         <% flash.each do |name, message|%>
            <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
         <% end %>
         <div class="side-menu-content-container-cg">
            <div class="side-menu-family-cg">
               <div class="dashboard-text-container-cg">
                  <h3 class="dashboard-text-cg">Dashboard</h3>
               </div>
               <% if current_care_giver.care_team %>
                  <%= link_to "Job Postings", all_posts_path(:id => current_care_giver.id), class: "side-menu-family-cg__link-cg"  %>
                  <%= link_to "My Team", my_care_team_path(:id => current_care_giver.care_team), class: "side-menu-family-cg__link-cg" %>
               <% end %>
               <% if current_care_giver.leader %>
                  <%= link_to "Job Postings", all_posts_path(:id => current_care_giver.id), class: "side-menu-family-cg__link-cg"  %>
                  <%= link_to "My Team", my_care_team_path(:id => CareTeam.where(care_giver_id: current_care_giver.id)[0]), class: "side-menu-family-cg__link-cg"  %>
               <% end %>
               <%= link_to "Settings", "/care_givers/edit", class: "side-menu-family-cg__link-cg"  %>
            </div>
            <div class="content-cg">
               <%= yield %>
            </div>
         </div>
         <%= render "layouts/partials/footer" %>
      </div>
   </body>
   <%= javascript_tag do %>
     $(function() {
       $("time.timeago").timeago();
     });
   <% end %>
</html>